<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
  <meta charset="UTF-8"/>
  <title th:text="${pic.name}"></title>
  <meta name="keywords" th:content="${pic.name}+${pic.keyWord}"/>
  <meta name="description" th:content="${pic.name}+${pic.description}"/>
  <link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="referrer" content="no-referrer"/>
  <script type="text/javascript" src="/static/js/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/common.js"></script>
  <!--<script type="text/javascript"
          src="http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion="></script>-->
  <script>
  var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?880ce4e7e215c05d7f858d644373f613";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
  document.write("<script type='text/javascript' src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=" + Date.now() + "'><\/script>");

  </script>

</head>
<body>
<div class="header">
  <div class="head">
    <a href="/" class="logo" title="4k壁纸">首页</a>
    <ul class="nav">
      <li><a href="/pic/page/1/1.html" class="nav-link" rel="nofollow">最新</a></li>
      <li><a href="javascript:;" class="nav-link">分类</a>
        <div class="nav-m clearfix tran">
          <a th:href="@{'/pic/page/'+${cate.code}+'/1.html'}"
             th:each="cate :${categories}"
             th:text="${cate.name}" th:class="${cate.code == category}? 'curr' :'' "></a>
        </div>
      </li>
      <li><a href="/pic/page/q/1/1.html" class="nav-link pc-click">1080P壁纸</a></li>
      <li><a href="/pic/page/q/2/1.html" class="nav-link pc-click">4K壁纸</a></li>
      <li><a href="/pic/page/q/3/1.html" class="nav-link" rel="nofollow">8K壁纸</a></li>
      <li><a href="/pic/page/2/1.html" class="nav-link" rel="nofollow">手机壁纸</a></li>
      <li><a href="/pic/page/vip.html" class="nav-link" rel="nofollow"
             style="color:#FFA800; target=_blank">赞助会员</a></li>
    </ul>
    <div class="search">
      <form action="/pic/page.html" method="post" name="schform" id="schform">
        <p><input type="text" name="keyboard" value="请输入壁纸名称"
                  onFocus="if(this.value=='请输入壁纸名称') this.value='';"
                  onBlur="if(this.value=='') this.value='请输入壁纸名称';" autocomplete="off"/></p>
        <input name="submit" type="submit" value="" class="sub"/><input name="tempid" type="hidden"
                                                                        value="1"/><input
          name="tbname" type="hidden" value="photo"/><input name="show" type="hidden"
                                                            value="title"/>
      </form>
    </div>
    <div class="loginbar">
      <a class="register" style="width:100px;">注册</a>
      <div class="tbox">
        <div class="close">×</div>
        <a href="/" id="logo"></a>
        <div id="tips">
          <div class="hline fl"></div>
          <div class="tiptext fl">欢迎您登陆砖块壁纸</div>
          <div class="hline fr"></div>
        </div>
        <a href="/user/memberconnect/?apptype=qq" id="qq_register">QQ一键登陆</a>
        <!--a href="/e/memberconnect/?apptype=weixin" id="weixin_register">微信扫一扫登录</a--></div>
      <div id="login_opacity_bg"></div>
    </div>
  </div>
</div>

<div class="wrap clearfix">
  <div id="main">
    <div class="loaction"><span>当前位置：<a href="/">首页</a> > <h1
        style="display: inline;font-weight: normal;" th:text="${categoryInfo==null?'':categoryInfo.name}"></h1></span></div>

    <div class="photo">
      <div class="view">
        <div class="photo-hd"><h1 th:text="${pic.name}"></h1></div>
        <div class="photo-pic"><a href="" id="img">
          <img th:src="@{'/pic-web/img/'+${pic.picUrl}}"
               data-pic="@{'/pic-web/img/'+${pic.picUrl}}"
               th:alt="${pic.description}"
               th:title="${pic.name}"></a></div>
        <div class="photo-txt">
          砖块壁纸是全网最好的4K壁纸站，提供精美好看的4K高清壁纸免费下载，4K,5K,6K,7K,8K壁纸图片素材，
          本作品:
          <span th:text="${pic.description}"></span>，
          壁纸来源网络和网友分享，图片版权归原作者所有，若有侵权问题敬请告知，我们会立即处理。客服QQ:1871025980
        </div>
        <div class="photo-tags">热门搜索：<a href="/pic/page/1/1.html?searchid=2252"
                                        target="_blank">鬼刀壁纸</a> <a
            href="/pic/page/1/1.html?searchid=25" target="_blank">星空壁纸</a> <a
            href="/pic/page/1/1.html?searchid=2446" target="_blank">带鱼屏壁纸</a>
          <a href="/pic/page/1/1.html?searchid=1224" target="_blank">4K壁纸</a>
          <a href="/pic/page/1/1.html?searchid=2453" target="_blank">5K壁纸</a>
          <a href="/pic/page/1/1.html?searchid=2543" target="_blank">8K壁纸</a>
          <a href="/pic/page/1/1.html?searchid=377" target="_blank">手机壁纸</a>
        </div>
      </div>
      <div class="side">
        <div class="downpic"><a href="javascript:;" th:data-id="${pic.id}" th:text="${'下载原图('+pic.resolution+')'}"></a></div>
        <div class="infor">
          <p>分类 <span> <a target="_blank" href="" th:text="${categoryInfo==null?'':categoryInfo.name}"></a> </span></p>
          <p>尺寸<span th:text="${pic.resolution}">/span></p>
          <!--<p>体积 <span>4.85 MB</span></p>-->
          <p>上传时间<span th:text="${pic.createTime}"></span></p>
        </div>
        <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#"
                                                                                          class="bds_qzone"
                                                                                          data-cmd="qzone"
                                                                                          title="分享到QQ空间"></a><a
            href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#"
                                                                               class="bds_weixin"
                                                                               data-cmd="weixin"
                                                                               title="分享到微信"></a><a
            href="#" class="bds_huaban" data-cmd="huaban" title="分享到花瓣"></a></div>
        <script>
          window._bd_share_config = {
    "common": {
        "bdSnsKey": {},
        "bdText": "",
        "bdMini": "2",
        "bdMiniList": ["mshare", "qzone", "tsina", "bdysc", "weixin", "renren", "tqq", "bdxc", "tieba", "douban", "bdhome", "sqq", "ibaidu", "huaban", "duitang", "copy"],
        "bdPic": "",
        "bdStyle": "0",
        "bdSize": "32"
    },
    "share": {},
    "image": {
        "viewList": ["qzone", "tsina", "weixin", "huaban"],
        "viewText": "分享到：",
        "viewSize": "32"
    }
};
        </script>
      </div>
    </div>


  </div>
</div>
<div id="footer">
  <div class="w"><p>为用户免费分享产生,若发现您的权利被侵害,我们尽快处理 客服QQ:1871025980 <a target="_blank"
                                                                   href="http://wpa.qq.com/msgrd?v=3&uin=1871025980&site=qq&menu=yes"><img
      border="0" src="http://wpa.qq.com/pa?p=2:1871025980:51" alt="点击这里给我发消息" title="点击这里给我发消息"/></a>（工作时间：9:00-23:00）4K壁纸QQ群（1871025980）
  </p>
    <p>Copyright &copy; 2019 <span class="sitename"><a href="http://pic.yituyiyu.com/" title=""></a></span>
      京ICP备15063423号 <a href="http://www.yituyiyu.com/" target="_blank" title="壁纸">壁纸</a> <a
          href="http://pic.yituyiyu.com/" title="4k">4k</a> <a href="http://pic.yituyiyu.com/"
                                                              title="4k壁纸">4k壁纸</a> <a
          href="http://pic.yituyiyu.com/" target="_blank" title="壁纸">壁纸</a> <a
          href="http://pic.yituyiyu.com/" target="_blank" title="高清壁纸">高清壁纸</a> 关注:<a
          href="http://weibo.com/netbiancom" target="_blank">新浪微博</a>
    </p>
  </div>
</div>
<div id="gotop"><a href="javascript:;" class="got"><i>返回顶部</i></a></div>
</body>
</html>