<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
  <meta charset="UTF-8"/>
  <title th:text="${pic.name}"></title>
  <meta name="keywords" th:content="${pic.name}+${pic.keyWord}"/>
  <meta name="description" th:content="${pic.name}+${pic.description}"/>
  <link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="referrer" content="no-referrer"/>
  <script type="text/javascript" src="/static/js/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/common.js"></script>

</head>
<body>
<div class="header">
  <div class="head">
    <a href="/" class="logo" title="4k壁纸">首页</a>
    <ul class="nav">
      <li><a href="/pic/page/1/1.html" class="nav-link" rel="nofollow">最新</a></li>
      <li><a href="javascript:;" class="nav-link">分类</a>
        <div class="nav-m clearfix tran">
          <a th:href="@{'/pic/page/'+${cate.code}+'/1.html'}"
             th:each="cate :${categories}"
             th:text="${cate.name}" th:class="${cate.code == category}? 'curr' :'' "></a>
        </div>
      </li>
      <li><a href="/pic/page/1/1.html" class="nav-link pc-click">1080P壁纸</a></li>
      <li><a href="/pic/page/1/1.html" class="nav-link pc-click">4K壁纸</a></li>
      <li><a href="/pic/page/2/1.html" class="nav-link" rel="nofollow">8K壁纸</a></li>
      <li><a href="/pic/page/2/1.html" class="nav-link" rel="nofollow">手机壁纸</a></li>
      <li><a href="/pic/vip.html" class="nav-link" rel="nofollow"
             style="color:#FFA800; target=_blank">赞助会员</a></li>
    </ul>
    <div class="search">
      <form action="/pic/page.html" method="post" name="schform" id="schform">
        <p><input type="text" name="keyboard" value="请输入壁纸名称"
                  onFocus="if(this.value=='请输入壁纸名称') this.value='';"
                  onBlur="if(this.value=='') this.value='请输入壁纸名称';" autocomplete="off"/></p>
        <input name="submit" type="submit" value="" class="sub"/><input name="tempid" type="hidden"
                                                                        value="1"/><input
          name="tbname" type="hidden" value="photo"/><input name="show" type="hidden"
                                                            value="title"/>
      </form>
    </div>
    <div class="loginbar">
      <a class="register" style="width:100px;">注册</a>
      <div class="tbox">
        <div class="close">×</div>
        <a href="/" id="logo"></a>
        <div id="tips">
          <div class="hline fl"></div>
          <div class="tiptext fl">欢迎您登陆砖块壁纸</div>
          <div class="hline fr"></div>
        </div>
        <a href="/user/memberconnect/?apptype=qq" id="qq_register">QQ一键登陆</a>
        <!--a href="/e/memberconnect/?apptype=weixin" id="weixin_register">微信扫一扫登录</a--></div>
      <div id="login_opacity_bg"></div>
    </div>
  </div>
</div>

<div class="wrap clearfix">
  <div id="main">
    <div class="loaction"><span>当前位置：<a href="/">首页</a> > <h1
        style="display: inline;font-weight: normal;" th:text="${categoryInfo==null?'':categoryInfo.name}"></h1></span></div>

    <div class="photo">
      <div class="view">
        <form class="form-horizontal" th:object="${pic}" th:action="@{/pic/info/update}" method="post">

          <input type="hidden" th:field="*{id}"/>
          分类：<input type="text" class="form-control" th:field="*{category}"/>
          名称：<input type="text" class="form-control" th:field="*{name}"/>
          关键字：<input type="text" class="form-control" th:field="*{keyWord}"/>
          描述：<input type="text" class="form-control" th:field="*{description}"/>
          描述：<input type="text" class="form-control" th:field="*{picUrl}"/>

          <div class="row">
            <button type="submit" class="btn btn-default">Submit</button>
          </div>
        </form>

      </div>
      <div class="side">
        <div class="downpic"><a href="javascript:;" th:data-id="${pic.id}">下载原图(3840x2160)</a></div>
        <div class="infor">
          <p>分类 <span> <a target="_blank" href="" th:text="${categoryInfo==null?'':categoryInfo.name}"></a> </span></p>
          <p>尺寸<span>3840x2160</span></p>
          <!--<p>体积 <span>4.85 MB</span></p>-->
          <p>上传时间<span th:text="${pic.createTime}"></span></p>
        </div>

      </div>
    </div>


  </div>
</div>
<div id="footer">
  <div class="w"><p>为用户免费分享产生,若发现您的权利被侵害,我们尽快处理 客服QQ:2580234545 <a target="_blank"
                                                                   href="http://wpa.qq.com/msgrd?v=3&uin=2580234545&site=qq&menu=yes"><img
      border="0" src="http://wpa.qq.com/pa?p=2:2580234545:51" alt="点击这里给我发消息" title="点击这里给我发消息"/></a>（工作时间：9:00-23:00）4K壁纸QQ群（2580234545）
  </p>
    <p>Copyright &copy; 2019 <span class="sitename"><a href="http://pic.netbian.com/" title=""></a></span>
      闽ICP备13013111号 <a href="http://www.netbian.com/" target="_blank" title="壁纸">壁纸</a> <a
          href="http://pic.netbian.com/" title="4k">4k</a> <a href="http://pic.netbian.com/"
                                                              title="4k壁纸">4k壁纸</a> <a
          href="http://pic.netbian.com/" target="_blank" title="壁纸">壁纸</a> <a
          href="http://pic.netbian.com/" target="_blank" title="高清壁纸">高清壁纸</a> 关注:<a
          href="http://weibo.com/netbiancom" target="_blank">新浪微博</a>
    </p>
  </div>
</div>
<div id="gotop"><a href="javascript:;" class="got"><i>返回顶部</i></a></div>
</body>
</html>