<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
  <meta charset="UTF-8"/>
  <title>4K风景壁纸_高清4K风景图片</title>
  <meta name="keywords" content="4k风景壁纸,高清4k风景壁纸,4k风景图片,4k风景电脑壁纸,4k风景桌面壁纸"/>
  <meta name="description" content="免费提供清新唯美的4k风景图片壁纸下载,把高清的4k风景图片壁纸推荐给您,让您更快的找到您想要的4k风景壁纸图片"/>
  <link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="referrer" content="no-referrer"/>
  <script type="text/javascript" src="/static/js/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/common.js"></script>
  <!--<script type="text/javascript"
          src="http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion="></script>-->
  <script>
  document.write("<script type='text/javascript' src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=" + Date.now() + "'><\/script>");

  </script>

</head>
<body>
<div class="header">
  <div class="head">
    <a href="/" class="logo" title="4k壁纸">首页</a>
    <ul class="nav">
      <li><a href="/pic/page/1/1.html" class="nav-link" rel="nofollow">最新</a></li>
      <li><a href="javascript:;" class="nav-link">分类</a>
        <div class="nav-m clearfix tran">
          <a th:href="@{'/pic/page/'+${cate.code}+'/1.html'}"
             th:each="cate :${categories}"
             th:text="${cate.name}" th:class="${cate.code == category}? 'curr' :'' "></a>
        </div>
      </li>
      <li><a href="/pic/page/q/1/1.html" class="nav-link pc-click">1080P壁纸</a></li>
      <li><a href="/pic/page/q/2/1.html" class="nav-link pc-click">4K壁纸</a></li>
      <li><a href="/pic/page/q/3/1.html" class="nav-link" rel="nofollow">8K壁纸</a></li>
      <li><a href="/pic/page/2/1.html" class="nav-link" rel="nofollow">手机壁纸</a></li>

    </ul>
    <div class="search">
      <form action="/pic/page.html" method="post" name="schform" id="schform">
        <p><input type="text" name="keyboard" value="请输入壁纸名称"
                  onFocus="if(this.value=='请输入壁纸名称') this.value='';"
                  onBlur="if(this.value=='') this.value='请输入壁纸名称';" autocomplete="off"/></p>
        <input name="submit" type="submit" value="" class="sub"/><input name="tempid" type="hidden"
                                                                        value="1"/><input
          name="tbname" type="hidden" value="photo"/><input name="show" type="hidden"
                                                            value="title"/>
      </form>
    </div>
    <div class="loginbar">
      <a class="register" style="width:100px;">注册</a>
      <div class="tbox">
        <div class="close">×</div>
        <a href="/" id="logo"></a>
        <div id="tips">
          <div class="hline fl"></div>
          <div class="tiptext fl">欢迎您登陆砖块壁纸</div>
          <div class="hline fr"></div>
        </div>
        <a href="/user/memberconnect/?apptype=qq" id="qq_register">QQ一键登陆</a>
        <!--a href="/e/memberconnect/?apptype=weixin" id="weixin_register">微信扫一扫登录</a--></div>
      <div id="login_opacity_bg"></div>
    </div>
  </div>
</div>

<div class="wrap clearfix">
  <div id="main">
    <div class="loaction"><span>当前位置：<a href="/">首页</a> > <h1
        style="display: inline;font-weight: normal;">加入会员</h1></span></div>

    <div id="main"><img src="/static/img/vip.jpg" alt="砖块壁纸会员特权">
      <div class="member">
        <div class="member-hd"><p><b>亲爱的，</b>游客</p></div>
        <div class="content">
          <div class="pay">
            <div class="pay58_rmb"><a rel="nofollow" href="javascript:;"
                                      class="pay58_rmb_num pay_select" data-type="3">
              <div class="pay58_rmb_text"><span class="vip_shuxing">20元终身</span><span class="vip_text">终身会员 无限下载</span>
              </div>
              <div class="pay58_rmb_jiage"><span class="yuanjia">原价299元</span></div>
              <div id="xianliang">最划算</div>
              <div class="select_gou"></div>
            </a><a rel="nofollow" href="javascript:;" class="pay58_rmb_num" data-type="2">
              <div class="pay58_rmb_text"><span class="vip_shuxing">10元/年</span><span class="vip_text">VIP会员 每天限量10张</span>
              </div>
              <div class="pay58_rmb_jiage"><span class="yuanjia">原价99元</span></div>
              <div class="select_gou" style="display:none;"></div>
            </a><a rel="nofollow" href="javascript:;" class="pay58_rmb_num" data-type="1">
              <div class="pay58_rmb_text"><span class="vip_shuxing">1元/月</span><span class="vip_text">VIP会员 每天限量10张</span>
              </div>
              <div class="pay58_rmb_jiage"><span class="yuanjia">原价9.9元</span></div>
              <div id="xianliang" style="width: 75px;">体验型</div>
              <div class="select_gou" style="display:none;"></div>
            </a></div>
            <br>
            <div class="zz_way">
              <div class="kthylc"><b>开通会员流程：支付费用→发送ID号给客服QQ→成功开通会员</b><span
                  style="margin-right: 30px;color: #333;float: right;height: 25px;font-size: 12px;line-height: 25px;">开通会员客服QQ:1871025980<a
                  rel="nofollow" target="_blank"
                  href="http://wpa.qq.com/msgrd?v=3&uin=1871025980&site=qq&menu=yes"><img border="0"
                                                                                          src="http://wpa.qq.com/pa?p=2:1871025980:51"
                                                                                          alt="点击这里给我发消息"
                                                                                          title="点击这里给我发消息"></a></span>
              </div>
              <div style="clear:both;"><img id="pay-img"
                                            src="/static/img/payw.jpg"
                                            width="290"/>
                <div style="float:right;width:435px;padding-right:30px;font-size:15px;"><p
                    style="font-size:38px;color:#f00;">支付成功后，请联系客服</p>
                  <p>如果您不联系客服，那我们只能认为您是一名默默无闻的雷锋了！</p></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
<div id="footer">
  <div class="w"><p>为用户免费分享产生,若发现您的权利被侵害,我们尽快处理 客服QQ:1871025980 <a target="_blank"
                                                                   href="http://wpa.qq.com/msgrd?v=3&uin=1871025980&site=qq&menu=yes"><img
      border="0" src="http://wpa.qq.com/pa?p=2:1871025980:51" alt="点击这里给我发消息" title="点击这里给我发消息"/></a>（工作时间：9:00-23:00）4K壁纸QQ群（1871025980）
  </p>
    <p>Copyright &copy; 2019 <span class="sitename"><a href="http://pic.yituyiyu.com/" title=""></a></span>
      京ICP备15063423号 <a href="http://www.yituyiyu.com/" target="_blank" title="壁纸">壁纸</a> <a
          href="http://pic.yituyiyu.com/" title="4k">4k</a> <a href="http://pic.yituyiyu.com/"
                                                              title="4k壁纸">4k壁纸</a> <a
          href="http://pic.yituyiyu.com/" target="_blank" title="壁纸">壁纸</a> <a
          href="http://pic.yituyiyu.com/" target="_blank" title="高清壁纸">高清壁纸</a> 关注:<a
          href="http://weibo.com/netbiancom" target="_blank">新浪微博</a>
    </p>
  </div>
</div>
<div id="gotop"><a href="javascript:;" class="got"><i>返回顶部</i></a></div>
</body>
</html>